In [ ]:
# Ankushdeep Singh_102003174
# ass6_4

In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import train_test_split
from sklearn.datasets import load_diabetes
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report,confusion_matrix

In [4]:
data=pd.read_csv("E:\SUMMER SEM\AI\LABS\ASS_6\diabetes_prediction_dataset.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [5]:
data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [6]:
data.gender.unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [7]:
data.gender.replace({'Male':0, 'Female':1,'Other':2},inplace=True)

In [8]:
data.smoking_history.unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [9]:
data.smoking_history.replace({'never':1, 'No Info':2, 'current':3, 'former':4, 'ever':5, 'not current':6},inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  int64
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  int64
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 6.9 MB

In [11]:
x = data.loc[:,data.columns!='diabetes']
x

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,1,80.0,0,1,1,25.19,6.6,140
1,1,54.0,0,0,2,27.32,6.6,80
2,0,28.0,0,0,1,27.32,5.7,158
3,1,36.0,0,0,3,23.45,5.0,155
4,0,76.0,1,1,3,20.14,4.8,155
...,...,...,...,...,...,...,...,...
99995,1,80.0,0,0,2,27.32,6.2,90
99996,1,2.0,0,0,2,17.37,6.5,100
99997,0,66.0,0,0,4,27.83,5.7,155
99998,1,24.0,0,0,1,35.42,4.0,100
99999,1,57.0,0,0,3,22.43,6.6,90

In [12]:
y = data.diabetes
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state = 50, test_size = 0.25)

In [14]:
#KNN
knn = KNeighborsClassifier(n_neighbors = 10)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
print("Test data accuracy:",accuracy_score(y_test,y_pred))

res = pd.DataFrame(y_pred)
res.index = X_test.index 
res.columns = ["prediction"]
res.to_csv("KNN_results.csv")

Test data accuracy: 0.95128

In [15]:
#Bayseain Classifier
gnb = GaussianNB()
gnb.fit(X_train, y_train)

y_pred = gnb.predict(X_test)
print("Test data accuracy:",accuracy_score(y_test,y_pred))

res = pd.DataFrame(y_pred)
res.index = X_test.index 
res.columns = ["prediction"]
res.to_csv("NB_results.csv")

Test data accuracy: 0.9024

In [16]:
#Decision tree
clf = DecisionTreeClassifier(criterion='gini')
clf.fit(X_train,y_train)

# Predict Accuracy Score
y_pred = clf.predict(X_test)
print("Test data accuracy:",accuracy_score(y_test,y_pred))

res = pd.DataFrame(y_pred)
res.index = X_test.index 
res.columns = ["prediction"]
res.to_csv("DT_results.csv")

Test data accuracy: 0.95156

In [ ]:
# Therefore, Decision Tree and KNN are best with accuracy > 95%